.mod-speakers.sponsors
  %article
    %h2 Code Of Conduct

    %p
      Thanks to
      = link_to 'JSConf EU', 'http://2013.jsconf.eu/', {:target => '_blank'}
      for letting us use their fine code of conduct.

    %h3 Code of Conduct

    %p
      All attendees, speakers, sponsors and volunteers at So Coded are required to agree with the following code of conduct. Organizers will enforce this code throughout the event. We are expecting coorporation from all participants to help ensuring a safe environment for everybody.

    %p
      tl;dr: Don’t be a Jerk

    %p
      Need Help? Contact Thorben

    %p
      Thorben Schröder (@walski)<br/>
      Email: thorben@socoded.com<br/>
      Phone(de): +4917623550687<br/>

  %article
    %h3 The Quick Version

    %p
      So Coded is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organizers.

    %h3 The Less Quick Version

    %p
      Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.

    %p
      Participants asked to stop any harassing behavior are expected to comply immediately.

    %p
      Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.

    %p
      If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.

    %p
      If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Further information on how the conference staff can be identified will be posted soon.

    %p
      In case you can’t find a staff member, Thorben Schröder is always there for you: @walski, thorben@socoded.com, +4917623550687

    %p
      Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.

    %p
      We expect participants to follow these rules at conference and workshop venues and conference-related social events.