.mod-speakers.sponsors
  %article
    %h2 Imprint

    %p
      According to § 5 TMG

    %address
      Thorben Schröder<br/>
      <br/>
      Contact<br/>
      <br/>
      Phone: +49-176- 23550687<br/>
      E-Mail: info@thorbenschroeder.de<br/>
      <br/>
      Address<br/>
      <br/>
      Thorben Schröder<br/>
      Am Hohen Stege 10<br/>
      21029 Hamburg<br/>
      <br/>
      VAT No. according to "§27a Umsatzsteuergesetz"<br/>
      <br/>
      DE 284403701

    %p
      Responsible for the content according to § 55 Abs. 2 RStV: Thorben Schröder, address as stated above

  %article
    %h3 Image Credits

    %ul
      %li swissgringo - http://www.flickr.com/photos/swissgringo/6467914235/
      %li scottcalleja - http://www.flickr.com/photos/scottcalleja/4882629309
      %li hagbard - http://www.flickr.com/photos/hagbard/5528997127
      %li schoschie - http://www.flickr.com/photos/schoschie/1258649728
      %li eriwst - http://www.flickr.com/photos/eriwst/4236140391/
      %li wimox - http://www.flickr.com/photos/wimox/5393296462
      %li eriwst - http://www.flickr.com/photos/eriwst/2303608353
