%section.mod-start
  %h1
    %span.head So Coded
    = image_tag 'logo.png'
    %span.subhead Hamburg

  %div
    %p.date
      %span.visual &ndash;
      %span 19th &amp; 20th Sept. 2013
      %span.visual &ndash;
    %a(href="https://tito.io/so-coded/so-coded")
      = image_tag 'ticket.png'

