%section.mod-start
  %h1
    %span.head So Coded
    = image_tag 'logo.png', :class => 'logo'
    %span.subhead
      %span.mission
        %span.visual.left
        %span Learn & hack for 2 days
        %span top notch international speakers
        %span 150 fellow web devs
        %span.visual.right
      %a(href="https://tito.io/so-coded/so-coded")
        = image_tag 'ticket.png', :class => 'ticket'
      %span.city Hamburg, Germany
      %span.date 19th & 20th Sept. 2013