%section.mod-start
  %h1
    %span.head So Coded
    = image_tag 'logo.png'
    %span.subhead conference

  %p
    &ndash; 19th &amp; 20th Sept. 2013 &ndash;
    %a(href="#")
      = image_tag 'ticket.png'

