.mod-speakers.mod-schedule.sponsors
  %article
    %h2 So Coded Schedule

    %p
      Our running order is still in flux as we are putting a final touch the line up

    %h3
      Wednesday

    %p
      Coming to Hamburg

    %p
      Speaker Dinner

    %div.days
      %div.day
        %h3 Thursday

        %table.schedule
          %thead
            %tr
              %td Time
              %td Program
          %tbody
            %tr.even
              %td
                9:00 a.m.
              %td
                Doors open

            %tr
              %td
                9:15 a.m.
              %td
                Breakfast

            %tr.even
              %td
                10:45 a.m.
              %td
                Talk

            %tr
              %td
                11:45 a.m.
              %td
                Talk

            %tr.even
              %td
                12:30 p.m.
              %td
                Coffee Break

            %tr
              %td
                1:00 p.m.
              %td
                Talk

            %tr.even
              %td
                1:45 p.m.
              %td
                Lunch break

            %tr
              %td
                2:45 p.m.
              %td
                Talk

            %tr.even
              %td
                3:30 p.m.
              %td
                Coffee Break

            %tr
              %td
                4:00 p.m.
              %td
                Lightning talks

            %tr.even
              %td
                5:00 p.m.
              %td
                Break

            %tr
              %td
                5:30 p.m.
              %td
                Talk

            %tr.even
              %td
                6:15 p.m.
              %td
                Party & Buffet


      %div.day
        %h3 Friday

        %table.schedule
          %thead
            %tr
              %td Time
              %td Program
          %tbody
            %tr.even
              %td
                9:00 a.m.
              %td
                Sleep

            %tr
              %td
                10:00 a.m.
              %td
                Doors open

            %tr.even
              %td
                10:15 a.m.
              %td
                Hack & Break

            %tr
              %td
                11:15 a.m.
              %td
                Talk

            %tr.even
              %td
                12:00 p.m.
              %td
                Coffee Break

            %tr
              %td
                12:30 p.m.
              %td
                Talk

            %tr.even
              %td
                1:15 p.m.
              %td
                Coffee break

            %tr
              %td
                1:45 p.m.
              %td
                Talk

            %tr.even
              %td
                2:30 p.m.
              %td
                Lunch break

            %tr
              %td
                3:30 p.m.
              %td
                Talk

            %tr.even
              %td
                4:15 p.m.
              %td
                Break

            %tr
              %td
                4:45 p.m.
              %td
                Talk

            %tr.even
              %td
                5:15 p.m.
              %td
                Nerdboat Bus Departure

            %tr
              %td
                5:30 p.m.
              %td
                Break

            %tr.even
              %td
                6:00 p.m.
              %td
                Talk

            %tr
              %td
                6:45 p.m.
              %td
                Closing

            %tr.even
              %td
                Afterwards
              %td
                Reeperbahn Tour