.mod-speakers
  %article
    %h2 Richard Rodger

    %figure
      = image_tag 'avatar.png'
      %figcaption
        %p.position COO, Nearform
        %p.twitter @rjrodger

    %h3 How to Write Big Apps

    %p The Seneca pattern is a way to break your application into pieces so that you can put it back together again in many different ways. You don't have to worry about architecture, database choice, network design, scaling or even which objects to define - you can defer them all! Instead you focus on the "stuff that needs to happen" right from that start.

    %p A concrete, production implementation exists in Node.js, and you can also write components in other languages.

    %h3 Bio

    %p Richard Rodger is the COO of nearform.com, a consultancy that helps startups build and launch software products. Richard is the author of Mobile Application Development in the Cloud (Wiley 2012), and was formerly CTO of feedhenry.com, a mobile applications platform. He is a regular contributor to the Sunday Business Post newspaper, and holds degrees in Mathematics and Philosophy, and Computer Science.
