.mod-speakers.sponsors
  %article
    %h2 Speaker Infos

    %p
      We also provided lots of information before via mail. But we know. Just in case there are any open questions we're trying to collect all information you need on this webpage. If you have an question which is not answered here please do not hesitate to drop us a mail ole@socoded.com or thorben@socoded.com

    %p
      If you are looking to support So Coded contact
      = link_to 'sponsors@socoded.com', 'mailto:sponsors@socoded.com'
      check our
      = link_to "Sponsorship flyer", 'sponsoring_flyer.pdf', {:relative => true, 'target' => '_blank'}
      = '.'